header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;

    .top-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        line-height: 45px;
        align-items: center;

        .logo {
            height: 40px;
            margin-left: -7px;
        }
    }
}
