.login {
    display: none;
    color: $text-color;
    
    .form {
        background-color: #FFFFFF;
        padding: 15px;
        width: 80%;
        max-width: 400px;

        .item {
            margin-bottom: 10px;
        }

        .item:last-child {
            margin-bottom: 0;
        }
    }
}