@import './variables';
@import './reset-html';
@import './reset';
@import './mixin';
@import './media';
@import './components/all';
@import './default';
@import './index';
@import './home';
@import './result';
