$font-family-base: Avenir, Helvetica, Arial, sans-serif;

/* Small tablets and large smartphones (landscape view) */
$screen-sm-min: 576px;

/* Small tablets (portrait view) */
$screen-md-min: 768px;

/* Tablets and small desktops */
$screen-lg-min: 992px;

/* Large tablets and desktops */
$screen-xl-min: 1200px;

/* Large tablets and desktops */
$screen-xxl-min: 1400px;

/* You can add global styles to this file, and also import other style files */
$body-background: #f8f9fa;
$header-background: #ffffff;
$footer-background: #ffffff;
$header-height: 160px;
$footer-height: 40px;
$header-z-index: 999;
$footer-z-index: 998;
$z-index-lightbox: 9999;

$text-color: #2c3e50;
$body-text-color: $text-color;
$light-text-color: #d3d3d3;
$shadow-color: rgba(0, 0, 0, 0.2);


$primary-color: #aa0c10;
$primary-color-hover: #870509;
$white-color: #FFFFFF;
$top-navigation-background-color: #ffffff;
$top-navigation-text-color: #7a7a7a;
